[user]
    email = romcheck@gmail.com
    name = romcheck
    signingkey = ~/icloud/.id_rsa.pub

[core]
    excludesfile = ~/.gitignore
    abbrev = 8
    pager = cat
    symlinks = true

[pager]
   delta = delta
   deltashow = delta

[alias]
   delta = diff
   deltashow = show

[delta]
  max-line-length = 0

[commit]
    gpgsign = true

[push]
    default = current
	autoSetupRemote = true

[pull]
    ff = only

[gpg]
    format = ssh

[include]
    path = ~/icloud/.gitconfig
