[user]
    email = romcheck@gmail.com
    name = romcheck
    signingkey = 8677B3250FABEC58
[core]
    excludesfile = ~/.gitignore
[commit]
    gpgsign = true

[includeIf "gitdir:~/mariadb/"]
    path = ~/mariadb/.gitconfig
