# --- macOS System Junk ---
**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/.localized
**/Icon?
**/._*

# --- Python Development ---
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv/
**/venv/
**/.env/
**/.pytest_cache/
**/.mypy_cache/

# --- Node.js ---
**/node_modules/
**/node_usage/
**/.npm/

# --- Infrastructure (Terraform) ---
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform/

# --- Temporary Files & Logs ---
*.swp
*.tmp
*.log
*.bak

# private variables
.secrets.yaml
.vars.yaml
