Xft.dpi: 144

urxvt.font: xft:notosansmono:size=11
urxvt.scrollBar: false
urxvt.saveLines: 4096
urxvt.fading: 25

! scroll up/down with keyboard
urxvt.keysym.Control-k: command:\033]720;8\007
urxvt.keysym.Control-j: command:\033]721;8\007

urxvt.intensityStyles: false

urxvt.skipBuiltinGlyphs: true

! do not scroll with output
urxvt.scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
urxvt.scrollWithBuffer: true

! scroll back to the bottom on keypress
urxvt.scrollTtyKeypress: true

! save some space
urxvt.lineSpace: -1
urxvt.letterSpace: -1

urxvt.perl-ext: default,url-select,keyboard-select,selection-to-clipboard,resize-font
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.url-select.launcher: /usr/bin/xdg-open
urxvt.url-select.underline: true
urxvt.keysym.C-minus: resize-font:smaller
urxvt.keysym.C-equal: resize-font:bigger
urxvt.keysym.C-0: resize-font:reset
urxvt.keysym.M-Escape: perl:keyboard-select:activate
urxvt.resize-font.step: 1

#include ".base16-google.dark"
